%h1 Tasks
%p= link_to 'Create a Task', new_task_path

%p
  - 6.days.ago.to_date.upto(Date.today).each do |date|
    %span= link_to date.to_s, tasks_path(d: date)

#errors

- if @tasks.present?
  %ul
    - @tasks.each do |task|
      %li{ id: "task_#{task.id}" }
        #{ task.project.name } &raquo; #{task.name}
        (Duration: #{task.duration(@filtered_date)})
        .action_link= render 'action_link', task: task
- else
  %p You don't have tasks. #{link_to 'Create your first task', new_task_path}
