%h1 Tasks
%p= link_to 'Create a Task', new_task_path

#errors

- if @tasks.present?
  %ul
    - @tasks.each do |task|
      %li{ id: "task_#{task.id}" }
        = task.name
        .action_link= render 'action_link', task: task
- else
  %p You don't have tasks. #{link_to 'Create your first task', new_task_path}
