%h1 New Task

= form_for @task do |f|
  - if @task.errors.any?
    %ul
      - @task.errors.full_messages.each do |msg|
        %li= msg

  %p
    = f.label :project_id
    = f.select :project_id, Project.all.map { |p| [p.name, p.id] }, include_blank: '- Choose a Project -'
    %span Or
    = f.text_field :new_project_name, placeholder: 'Create a new Project'
  %p
    = f.label :name
    = f.text_field :name
  %p= f.submit 'Create'
